# PG Databases

In [1]:
import psycopg2
import pandas as pd
import configparser
import matplotlib.pyplot as plt

# Read from the Config file
config = configparser.ConfigParser()
config.read_file(open(r'../db_ops.cfg'))

con_str = config.get('con_str', 'PG_AIRBASES')

In [4]:
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
from psycopg2 import OperationalError

def create_connection(con_str):
    """
    Creates a connection to the database using SQLAlchemy.
    
    Args:
    con_str (str): The connection string for the database.

    Returns:
    connection: The connection object if successful, None otherwise.
    """
    try:
        # Create a connection using the connection string
        engine = create_engine(con_str)
        connection = engine.connect()
        print("Opened Connection")
        return connection
    except OperationalError as e:
        print("OperationalError: Could not connect to the database. Please check the connection details and ensure the database server is running.")
        print(f"Details: {e}")
    except SQLAlchemyError as e:
        print("SQLAlchemyError: An error occurred while connecting to the database.")
        print(f"Details: {e}")
    except Exception as e:
        print("An unexpected error occurred while connecting to the database.")
        print(f"Details: {e}")
    
    return None

In [3]:

sql_command = """
SELECT relid,
		schemaname, 
    relname as table_name, 
    (schemaname || '.' || relname) as full_table_name,
    n_live_tup as rows,
    n_dead_tup as dead_rows,
    n_mod_since_analyze,
    case 
    	when n_live_tup = 0 THEN 0
      else  n_mod_since_analyze / n_live_tup 
      end as pct_mod_since_analyze,
    last_analyze as last_analyze_date,
    last_autoanalyze as last_autoanalyze_date,
    pg_total_relation_size(relid) / 1024 as total_table_size_kb, 
    pg_table_size(relid) / 1024 as table_size_kb,
    pg_indexes_size(relid) / 1024 as indexes_size_kb,
    pg_size_pretty(pg_total_relation_size(relid)) as total_table_size_pretty, 
    pg_size_pretty(pg_table_size(relid)) as table_size_pretty,
    pg_size_pretty(pg_indexes_size(relid)) as index_size_pretty
    
FROM pg_stat_user_tables
ORDER BY schemaname, 
    relname
"""

try:
    connection = create_connection(con_str);
    # Execute the SQL command
    df = pd.read_sql_query(sql_command, connection)
    # Set the display options to show all columns without truncation
    pd.set_option('display.max_columns', None)
    pd.set_option('display.expand_frame_repr', False)   
    print(df)
except (SQLAlchemyError, ValueError) as e:
    # Handle any errors or raised exceptions
    raise e

Opened Connection
       relid    schemaname                         table_name                          full_table_name      rows  dead_rows  n_mod_since_analyze  pct_mod_since_analyze                last_analyze_date            last_autoanalyze_date  total_table_size_kb  table_size_kb  indexes_size_kb total_table_size_pretty table_size_pretty index_size_pretty
0   27071560      airbases                            flights                         airbases.flights   1085084       6860                 4216                      0                              NaT 2024-07-23 03:20:13.348623+00:00               106040          82216            23824                  104 MB             80 MB             23 MB
1   27071569      airbases                          log_table                       airbases.log_table     20883          0                  220                      0                              NaT 2024-07-22 05:20:01.316306+00:00                  936            936                0                  936 kB            936 kB           0 bytes
2    1057718          cron                                job                                 cron.job         9          0                    3                      0 2023-10-02 10:48:31.899766+00:00                              NaT                   48             16               32                   48 kB             16 kB             32 kB
3    1057740          cron                    job_run_details                     cron.job_run_details   1165909          0                    1                      0 2023-10-02 10:57:27.688452+00:00 2024-06-03 10:34:40.927161+00:00              1249968        1223936            26032                 1221 MB           1195 MB             25 MB
4    3262245         metis         pg_stat_database_snapshots         metis.pg_stat_database_snapshots    414608          0                 1966                      0 2023-10-02 10:48:28.996488+00:00 2024-07-22 07:56:09.883372+00:00                86312          77200             9112                   84 MB             75 MB           9112 kB
5    3852615         metis  pg_stat_tables_activity_snapshots  metis.pg_stat_tables_activity_snapshots    493965          0                 2160                      0 2023-10-02 10:48:31.628876+00:00 2024-07-23 17:06:08.272205+00:00               172728         159592            13136                  169 MB            156 MB             13 MB
6     498396         metis           postgres_server_settings           metis.postgres_server_settings       353          0                    0                      0 2023-10-02 10:48:35.548997+00:00                              NaT                   80             64               16                   80 kB             64 kB             16 kB
7    4008127         metis                            queries                            metis.queries    103677          0                   20                      0 2023-10-02 10:48:29.372160+00:00 2024-06-27 11:04:33.596111+00:00                43024          39784             3240                   42 MB             39 MB           3240 kB
8    4020646         metis              query_stats_snapshots              metis.query_stats_snapshots   1072636          0                  462                      0 2023-10-02 10:57:14.723068+00:00 2024-07-23 17:21:00.100614+00:00               143416         113888            29528                  140 MB            111 MB             29 MB
9    2241457      metis_qa              test_high_indexes_num           metis_qa.test_high_indexes_num         0          0                    0                      0 2023-10-02 10:48:35.590657+00:00                              NaT                  128              8              120                  128 kB        8192 bytes            120 kB
10     71460  postgres_air                            account                     postgres_air.account    257333          0                    0                      0 2023-10-02 10:49:24.418541+00:00                              NaT                50792          21504            29288                   50 MB             21 MB             29 MB
11     71468  postgres_air                           aircraft                    postgres_air.aircraft        12          0                    0                      0 2023-10-02 10:48:35.606028+00:00                              NaT                   48             16               32                   48 kB             16 kB             32 kB
12     71474  postgres_air                            airport                     postgres_air.airport       666          0                    0                      0 2023-10-02 10:48:35.629332+00:00                              NaT                  120             88               32                  120 kB             88 kB             32 kB
13     71482  postgres_air                     boarding_pass1              postgres_air.boarding_pass1  25294496          0                    0                      0 2023-10-02 10:54:25.986370+00:00                              NaT              3528528        2086152          1442376                 3446 MB           2037 MB           1409 MB
14    669643  postgres_air          boarding_pass_no_indexes1   postgres_air.boarding_pass_no_indexes1  25293526          0                    0                      0 2023-10-02 10:49:23.547759+00:00                              NaT              2086072        2086072                0                 2037 MB           2037 MB           0 bytes
15     71489  postgres_air                            booking                     postgres_air.booking   5643302          0                    0                      0 2023-10-02 10:51:19.180242+00:00                              NaT              1141312         692816           448496                 1115 MB            677 MB            438 MB
16     71495  postgres_air                       booking_leg1                postgres_air.booking_leg1  17893656          0                    0                      0 2023-10-02 10:55:03.496681+00:00                              NaT              1445088        1052568           392520                 1411 MB           1028 MB            383 MB
17   2232218  postgres_air                  check_pk_overflow           postgres_air.check_pk_overflow         0          0                    0                      0 2023-10-02 10:54:27.044893+00:00                              NaT                    8              0                8              8192 bytes           0 bytes        8192 bytes
18     71502  postgres_air                             flight                      postgres_air.flight    683176          0                    0                      0 2023-10-02 10:57:18.587064+00:00                              NaT               114448          68544            45904                  112 MB             67 MB             45 MB
19     71510  postgres_air                     frequent_flyer              postgres_air.frequent_flyer    128346          0                    0                      0 2023-10-02 10:54:27.034764+00:00                              NaT                22480          14152             8328                   22 MB             14 MB           8328 kB
20     71518  postgres_air                          passenger                   postgres_air.passenger  16313381          0                    0                      0 2023-10-02 10:56:57.513829+00:00                              NaT              1847016        1373208           473808                 1804 MB           1341 MB            463 MB
21    671989  postgres_air                        passenger_2                 postgres_air.passenger_2  10000189          0                    0                      0 2023-10-02 10:55:20.685936+00:00                              NaT               828456         828456                0                  809 MB            809 MB           0 bytes
22     71526  postgres_air                              phone                       postgres_air.phone    407444          0                    0                      0 2023-10-02 10:56:58.311222+00:00                              NaT                35096          26136             8960                   34 MB             26 MB           8960 kB
23    732894  postgres_air                         test_table                  postgres_air.test_table         0          0                    0                      0 2023-10-02 10:56:57.525327+00:00                              NaT                    8              0                8              8192 bytes           0 bytes        8192 bytes
24    667543  postgres_air                            testing                     postgres_air.testing         0          0                    0                      0 2023-10-02 10:57:13.063261+00:00                              NaT                    0              0                0                 0 bytes           0 bytes           0 bytes
25  27092846  postgres_air                                vip                         postgres_air.vip         0          0                    0                      0                              NaT                              NaT                   24              0               24                   24 kB           0 bytes             24 kB
26    672851        public                           accounts                          public.accounts         7          0                    5                      0 2023-10-02 10:57:13.070615+00:00                              NaT                   24              8               16                   24 kB        8192 bytes             16 kB
27    671977        public                    booking_flights                   public.booking_flights   5643728          0                    0                      0 2023-10-02 10:57:13.057000+00:00                              NaT               692808         692808                0                  677 MB            677 MB           0 bytes
28   2232213        public                  check_pk_overflow                 public.check_pk_overflow         0          0                    0                      0 2023-10-02 10:57:14.731863+00:00                              NaT                    8              0                8              8192 bytes           0 bytes        8192 bytes
29   9492905        public                        dummy_table                       public.dummy_table    156500          0                    0                      0 2023-10-02 10:48:31.879509+00:00 2023-09-25 22:08:52.451600+00:00                 7984           7984                0                 7984 kB           7984 kB           0 bytes
30    667108        public                        index_stats                       public.index_stats        45          0                    0                      0 2023-10-02 10:57:14.751436+00:00                              NaT                   32             16               16                   32 kB             16 kB             16 kB
31  24095534        public                         monitor_dd                        public.monitor_dd    167114         36                  364                      0                              NaT 2024-01-29 08:40:07.604275+00:00                71960          71960                0                   70 MB             70 MB           0 bytes
32   2302563        public                             orders                            public.orders         0          0                    0                      0 2023-10-02 10:57:18.634204+00:00                              NaT                    0              0                0                 0 bytes           0 bytes           0 bytes
33    772415        public                        orders_test                       public.orders_test        20          0                    0                      0 2023-10-02 10:57:18.597293+00:00                              NaT                   40              8               32                   40 kB        8192 bytes             32 kB
34   2302567        public                    orders_y2023m01                   public.orders_y2023m01      4887          0                    0                      0 2023-10-02 10:57:18.764264+00:00                              NaT                  352            296               56                  352 kB            296 kB             56 kB
35   2302574        public                    orders_y2023m02                   public.orders_y2023m02      4386          0                    0                      0 2023-10-02 10:57:18.791056+00:00                              NaT                  320            272               48                  320 kB            272 kB             48 kB
36   2302581        public                    orders_y2023m03                   public.orders_y2023m03      4727          0                    0                      0 2023-10-02 10:57:18.662141+00:00                              NaT                  344            288               56                  344 kB            288 kB             56 kB
37   5906551        public               pg_settings_snapshot              public.pg_settings_snapshot       810          0                    0                      0 2023-10-02 10:48:31.661904+00:00 2023-08-23 13:44:04.215317+00:00                  128             88               40                  128 kB             88 kB             40 kB
38   2190529        public                   qa_tests_flights                  public.qa_tests_flights         0          0                    0                      0 2023-10-02 10:57:18.798667+00:00                              NaT                    8              0                8              8192 bytes           0 bytes        8192 bytes
39    670074        public                              sales                             public.sales        15          0                    0                      0 2023-10-02 10:57:18.673693+00:00                              NaT                    8              8                0              8192 bytes        8192 bytes           0 bytes
40   4024158        public                        sales_table                       public.sales_table        30          0                    0                      0 2023-10-02 10:48:35.532011+00:00 2023-08-13 15:22:47.358573+00:00                   24              8               16                   24 kB        8192 bytes             16 kB
41    966022        public                           students                          public.students     15000          0                    0                      0 2023-10-02 10:57:18.722207+00:00                              NaT                 1112            768              344                 1112 kB            768 kB            344 kB
42  27092615        public                            table_x                           public.table_x         0          0                    0                      0                              NaT                              NaT                   16              0               16                   16 kB           0 bytes             16 kB
43   2241530        public                test_no_primary_key               public.test_no_primary_key         0          0                    0                      0 2023-10-02 10:57:18.727285+00:00                              NaT                    8              0                8              8192 bytes           0 bytes        8192 bytes
44    781188        public                        vacuum_logs                       public.vacuum_logs         2          0                    0                      0 2023-10-02 10:57:18.734551+00:00                              NaT                   24              8               16                   24 kB        8192 bytes             16 kB

In [ ]:
## Close the connection


# finally: # Close the connection
#    if connection:
#        connection.close()
#        print("Connection closed")