# PG Databases

In [1]:
import psycopg2
import pandas as pd
import configparser
import matplotlib.pyplot as plt

# Read from the Config file
config = configparser.ConfigParser()
config.read_file(open(r'../db_ops.cfg'))

con_str = config.get('con_str', 'PG_TEMBO_DEV1') 
# con_str = config.get('con_str', 'PG_AIRBASES')

In [2]:


from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
from psycopg2 import OperationalError

def create_connection(con_str):
    """
    Creates a connection to the database using SQLAlchemy.
    
    Args:
    con_str (str): The connection string for the database.

    Returns:
    connection: The connection object if successful, None otherwise.
    """
    try:
        # Create a connection using the connection string
        print(con_str)
        engine = create_engine(con_str)
        connection = engine.connect()
        print("Opened Connection")
        return connection
    except OperationalError as e:
        print("OperationalError: Could not connect to the database. Please check the connection details and ensure the database server is running.")
        print(f"Details: {e}")
    except SQLAlchemyError as e:
        print("SQLAlchemyError: An error occurred while connecting to the database.")
        print(f"Details: {e}")
    except Exception as e:
        print("An unexpected error occurred while connecting to the database.")
        print(f"Details: {e}")
    
    return None

In [3]:

sql_command = """
SELECT relid,
		schemaname, 
    relname as table_name, 
    (schemaname || '.' || relname) as full_table_name,
    n_live_tup as rows,
    n_dead_tup as dead_rows,
    n_mod_since_analyze,
    case 
    	when n_live_tup = 0 THEN 0
      else  n_mod_since_analyze / n_live_tup 
      end as pct_mod_since_analyze,
    last_analyze as last_analyze_date,
    last_autoanalyze as last_autoanalyze_date,
    pg_total_relation_size(relid) / 1024 as total_table_size_kb, 
    pg_table_size(relid) / 1024 as table_size_kb,
    pg_indexes_size(relid) / 1024 as indexes_size_kb,
    pg_size_pretty(pg_total_relation_size(relid)) as total_table_size_pretty, 
    pg_size_pretty(pg_table_size(relid)) as table_size_pretty,
    pg_size_pretty(pg_indexes_size(relid)) as index_size_pretty
    
FROM pg_stat_user_tables
ORDER BY schemaname, 
    relname
"""
print (con_str)
try:
    connection = create_connection(con_str);
    # Execute the SQL command
    df = pd.read_sql_query(sql_command, connection)
    # Set the display options to show all columns without truncation
    pd.set_option('display.max_columns', None)
    pd.set_option('display.expand_frame_repr', False)   
    print(df)
except (SQLAlchemyError, ValueError) as e:
    # Handle any errors or raised exceptions
    raise e

postgresql://postgres:SejxQ8pHTR2gJF06@org-metis-inst-dev1.data-1.use1.tembo.io:5432/postgres
postgresql://postgres:SejxQ8pHTR2gJF06@org-metis-inst-dev1.data-1.use1.tembo.io:5432/postgres
Opened Connection
    relid            schemaname                          table_name                            full_table_name  rows  dead_rows  n_mod_since_analyze  pct_mod_since_analyze last_analyze_date            last_autoanalyze_date  total_table_size_kb  table_size_kb  indexes_size_kb total_table_size_pretty table_size_pretty index_size_pretty
0   17559    _timescaledb_cache                 cache_inval_bgw_job     _timescaledb_cache.cache_inval_bgw_job     0          0                    0                      0              None                              NaT                    0              0                0                 0 bytes           0 bytes           0 bytes
1   17562    _timescaledb_cache               cache_inval_extension   _timescaledb_cache.cache_inval_extension     0          0                    0                      0              None                              NaT                    0              0                0                 0 bytes           0 bytes           0 bytes
2   17556    _timescaledb_cache              cache_inval_hypertable  _timescaledb_cache.cache_inval_hypertable     0          0                    0                      0              None                              NaT                    0              0                0                 0 bytes           0 bytes           0 bytes
3   17264  _timescaledb_catalog                               chunk                 _timescaledb_catalog.chunk     0          0                    0                      0              None                              NaT                  216             96              120                  216 kB             96 kB            120 kB
4   17288  _timescaledb_catalog                    chunk_constraint      _timescaledb_catalog.chunk_constraint     0          0                    0                      0              None                              NaT                  120             72               48                  120 kB             72 kB             48 kB
..    ...                   ...                                 ...                                        ...   ...        ...                  ...                    ...               ...                              ...                  ...            ...              ...                     ...               ...               ...
90  18705                public    pg_track_settings_reboot_src_tmp    public.pg_track_settings_reboot_src_tmp     0          0                    0                      0              None                              NaT                    0              0                0                 0 bytes           0 bytes           0 bytes
91  18665                public  pg_track_settings_settings_src_tmp  public.pg_track_settings_settings_src_tmp     0          0                    0                      0              None                              NaT                   16             16                0                   16 kB             16 kB           0 bytes
92  16685                public                            students                            public.students     0          0                    0                      0              None                              NaT                19400          14992             4408                   19 MB             15 MB           4408 kB
93  18558                public                          time_table                          public.time_table     0          0                    0                      0              None                              NaT                    8              8                0              8192 bytes        8192 bytes           0 bytes
94  16694                 tembo                     heartbeat_table                      tembo.heartbeat_table   172         57                   47                      0              None 2024-07-23 15:51:45.679166+00:00                  944            160              784                  944 kB            160 kB            784 kB

[95 rows x 16 columns]

In [ ]:
## Close the connection


# finally: # Close the connection
#    if connection:
#        connection.close()
#        print("Connection closed")

In [4]:
from sqlalchemy import create_engine
from sqlalchemy.exc import OperationalError, SQLAlchemyError
import pandas as pd
import traceback
import psycopg2
print(psycopg2.__libpq_version__)
print(psycopg2.__version__)

def create_db_connection(con_str):
    try:
        # Create a connection using the connection string
        print(con_str)
        engine = create_engine(con_str)
        connection = engine.connect()
        print("Opened Connection")
        return connection
    except OperationalError as e:
        print("OperationalError: Could not connect to the database. Please check the connection details and ensure the database server is running.")
        print(f"Details: {e}")
    except SQLAlchemyError as e:
        print("SQLAlchemyError: An error occurred while connecting to the database.")
        print(f"Details: {e}")
    except Exception as e:
        print("An unexpected error occurred while connecting to the database.")
        print(f"Details: {e}")
    return None

# Example usage
con_str = 'postgresql://postgres:KRIr22hjAc5kzs85@falteringly-skilled-phoebe.data-1.use1.tembo.io:5432/postgres'
sql_command = 'SELECT version();'  # Replace with your actual SQL command

connection = create_db_connection(con_str)

if connection is not None:
    try:
        # Execute the SQL command
        df = pd.read_sql_query(sql_command, connection)
        # Set the display options to show all columns without truncation
        pd.set_option('display.max_columns', None)
        pd.set_option('display.expand_frame_repr', False)
        print(df)
    except Exception as e:
        print("An error occurred while executing the SQL command.")
        print(f"Details: {e}")
    finally:
        connection.close()
else:
    print("Failed to establish a database connection. Cannot execute SQL command.")

120019
2.9 (dt dec pq3 ext lo64)
postgresql://postgres:KRIr22hjAc5kzs85@falteringly-skilled-phoebe.data-1.use1.tembo.io:5432/postgres
Opened Connection
                                             version
0  PostgreSQL 16.3 on x86_64-pc-linux-gnu, compil...

In [5]:
import psycopg2
print(f"psycopg2 version: {psycopg2.__version__}")
print(f"libpq version: {psycopg2.__libpq_version__}")

psycopg2 version: 2.9 (dt dec pq3 ext lo64)
libpq version: 120019

In [6]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import SQLAlchemyError
from tabulate import tabulate  # You may need to install this: pip install tabulate


# Database connection parameters
DB_USER = 'postgres'
DB_PASSWORD = 'KRIr22hjAc5kzs85'
DB_HOST = 'falteringly-skilled-phoebe.data-1.use1.tembo.io'
DB_PORT = '5432'
DB_NAME = 'postgres'

# Create the connection string
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
print (DATABASE_URL)
# Create the SQLAlchemy engine
engine = create_engine(DATABASE_URL)

# Create the SQLAlchemy engine
engine = create_engine(DATABASE_URL)

# Create a sessionmaker
Session = sessionmaker(bind=engine)

try:
    # Create a session
    with Session() as session:
        # Execute the query
        result = session.execute(text("SELECT * FROM pg_stat_database;"))
        
        # Fetch all rows
        rows = result.fetchall()
        
        # Get column names
        columns = result.keys()
        
        # Print the results in a tabular format
        print(tabulate(rows, headers=columns, tablefmt="grid"))
        
        print(f"\nTotal rows: {len(rows)}")

except SQLAlchemyError as e:
    print(f"An error occurred: {e}")

finally:
    # The session is automatically closed due to the with statement
    # The engine disposal is handled by Python's garbage collector, but you can explicitly dispose it if needed
    # engine.dispose()
    pass

postgresql://postgres:KRIr22hjAc5kzs85@falteringly-skilled-phoebe.data-1.use1.tembo.io:5432/postgres
+---------+-----------+---------------+---------------+-----------------+-------------+------------+----------------+---------------+----------------+---------------+---------------+-------------+--------------+--------------+-------------+---------------------+-------------------------+-----------------+------------------+----------------+------------------+----------------------------+------------+----------------------+------------------+-------------------+---------------+
|   datid | datname   |   numbackends |   xact_commit |   xact_rollback |   blks_read |   blks_hit |   tup_returned |   tup_fetched |   tup_inserted |   tup_updated |   tup_deleted |   conflicts |   temp_files |   temp_bytes |   deadlocks | checksum_failures   | checksum_last_failure   |   blk_read_time |   blk_write_time |   session_time |      active_time |   idle_in_transaction_time |   sessions |   sessions_abandoned |   sessions_fatal |   sessions_killed | stats_reset   |
+=========+===========+===============+===============+=================+=============+============+================+===============+================+===============+===============+=============+==============+==============+=============+=====================+=========================+=================+==================+================+==================+============================+============+======================+==================+===================+===============+
|       0 |           |             0 |             0 |               0 |         232 |   47843522 |       16325768 |      13133926 |             41 |            15 |             0 |           0 |            0 |            0 |           0 |                     |                         |            0    |            0     |    0           |      0           |                0           |          0 |                    0 |                0 |                 0 |               |
+---------+-----------+---------------+---------------+-----------------+-------------+------------+----------------+---------------+----------------+---------------+---------------+-------------+--------------+--------------+-------------+---------------------+-------------------------+-----------------+------------------+----------------+------------------+----------------------------+------------+----------------------+------------------+-------------------+---------------+
|       5 | postgres  |             2 |       1126810 |              47 |        2949 |   61548945 |       52562429 |      22578988 |        6762207 |          3669 |          1219 |           0 |            0 |            0 |           0 |                     |                         |         1974.29 |         8345.18  |    8.36865e+07 | 378722           |           196298           |     522998 |                   15 |                0 |                 0 |               |
+---------+-----------+---------------+---------------+-----------------+-------------+------------+----------------+---------------+----------------+---------------+---------------+-------------+--------------+--------------+-------------+---------------------+-------------------------+-----------------+------------------+----------------+------------------+----------------------------+------------+----------------------+------------------+-------------------+---------------+
|   16385 | app       |             0 |       2096208 |               0 |        1367 |  294769267 |      211506402 |     194168118 |            218 |            22 |           136 |           0 |            0 |            0 |           0 |                     |                         |         1536.91 |            0.15  |    1.56997e+07 |      1.12795e+06 |                4.02139e+06 |    1029721 |                    0 |                0 |                 0 |               |
+---------+-----------+---------------+---------------+-----------------+-------------+------------+----------------+---------------+----------------+---------------+---------------+-------------+--------------+--------------+-------------+---------------------+-------------------------+-----------------+------------------+----------------+------------------+----------------------------+------------+----------------------+------------------+-------------------+---------------+
|       1 | template1 |             0 |         38337 |               0 |        1743 |    1628636 |       16510619 |        448170 |          17796 |           776 |           170 |           0 |            0 |            0 |           0 |                     |                         |         1675.09 |            0.519 | 8816.8         |   1974.75        |               16.25        |        329 |                    0 |                0 |                 0 |               |
+---------+-----------+---------------+---------------+-----------------+-------------+------------+----------------+---------------+----------------+---------------+---------------+-------------+--------------+--------------+-------------+---------------------+-------------------------+-----------------+------------------+----------------+------------------+----------------------------+------------+----------------------+------------------+-------------------+---------------+
|       4 | template0 |             0 |             0 |               0 |           0 |          0 |              0 |             0 |              0 |             0 |             0 |           0 |            0 |            0 |           0 |                     |                         |            0    |            0     |    0           |      0           |                0           |          0 |                    0 |                0 |                 0 |               |
+---------+-----------+---------------+---------------+-----------------+-------------+------------+----------------+---------------+----------------+---------------+---------------+-------------+--------------+--------------+-------------+---------------------+-------------------------+-----------------+------------------+----------------+------------------+----------------------------+------------+----------------------+------------------+-------------------+---------------+
|   16925 | demo_ts   |             0 |        169744 |               1 |         624 |   21647137 |       27304549 |      12360101 |            763 |            36 |            78 |           0 |            0 |            0 |           0 |                     |                         |          463.9  |            0.347 |    1.30235e+06 |  27061.1         |           190589           |      67953 |                    0 |                0 |                 0 |               |
+---------+-----------+---------------+---------------+-----------------+-------------+------------+----------------+---------------+----------------+---------------+---------------+-------------+--------------+--------------+-------------+---------------------+-------------------------+-----------------+------------------+----------------+------------------+----------------------------+------------+----------------------+------------------+-------------------+---------------+

Total rows: 6

## Test calling YAML to get the SQL

In [1]:
import yaml
from datetime import date, datetime
import json

def get_sql_for_operation(config_file, operation_name, **param_values):
    # Load the configuration
    with open(config_file, 'r') as file:
        config = yaml.safe_load(file)
    
    # Find the requested operation
    operation = next((op for op in config['operations'] if op['name'] == operation_name), None)
    
    if not operation:
        raise ValueError(f"Operation '{operation_name}' not found in configuration.")
    
    if operation['type'] != 'data_retrieval':
        raise ValueError(f"Operation '{operation_name}' is not a data retrieval operation.")
    
    sql = operation['sql_command']
    
    # Handle parameter substitution
    for param in operation.get('parameters', []):
        param_name = param['name']
        if param_name not in param_values:
            raise ValueError(f"Required parameter '{param_name}' not provided for operation '{operation_name}'.")
        
        value = param_values[param_name]
        placeholder = f":{param_name}"
        
        # Handle different data types
        if isinstance(value, str):
            sql = sql.replace(placeholder, f"'{value}'")
        elif isinstance(value, (int, float)):
            sql = sql.replace(placeholder, str(value))
        elif isinstance(value, (date, datetime)):
            sql = sql.replace(placeholder, f"'{value.isoformat()}'")
        elif isinstance(value, (dict, list)):
            json_value = json.dumps(value)
            sql = sql.replace(placeholder, f"'{json_value}'")
        else:
            raise ValueError(f"Unsupported parameter type for '{param_name}': {type(value)}")
    
    return sql

# Example usage:
if __name__ == "__main__":
    config_file = 'db_ops_config.yaml'
    
    # Example 1: Simple string parameter
    sql1 = get_sql_for_operation(config_file, 'show_table_sizes', database='my_database')
    # print("SQL for show_table_sizes:")
    # print(sql1)
    
    # Example 2: Operation with no parameters
    sql2 = get_sql_for_operation(config_file, 'show_db_sizes')
    # print("\nSQL for show_db_sizes:")
    # print(sql2)
    
    # Example 3: Operation with multiple parameter types (assuming such an operation exists)
    sql3 = get_sql_for_operation(config_file, 'show_pg_config', 
                                 search_expression="auto")
    print("\nSQL with parameters:")
    print(sql3)

SQL with parameters:
SELECT
  name,
  setting,
  unit,
  context,
  short_desc
FROM
  pg_settings
WHERE
  name ILIKE '%' || 'auto' || '%'
  OR setting ILIKE '%' || 'auto' || '%'
  OR short_desc ILIKE '%' || 'auto' || '%'
ORDER BY
  name;